---
layout: default
title: Projects
cv: passive
blog: passive
home: passive
contact: passive
projects: active
description: Projects of Ahmad Alhour, a Software Engineer living and working in Athens, Greece.
---

<div class="contact">
	<p>My open-source projects can be found on Github:</p>
	
	<ul class="list-styled">
		<li><strong><a target="_blank" href="https://github.com/LyncApps">iBill</a></strong>&nbsp;<small>under the LyncApps organization.</small></li>
		<li><strong><a target="_blank" href="https://github.com/aalhour/C-Sharp-Algorithms">C-Sharp-Algorithms.</a></strong></li>
	</ul>
</div>
