---
layout: default
title: aalhour.github.com
cv: passive
blog: passive
home: active
projects: passive
contact: passive
description: Ahmad Alhour is a Software Engineer, living and working in Athens, Greece.
---

<div class="row marketing">
	<div class="col-sm-4">
	 	<img  class="img-circle avatar" alt="Ahmad Alhour" src="img/aalhour-200px.jpg" width="200" />
	</div>

	<div itemscope itemtype="http://data-vocabulary.org/Person" class="col-sm-8">
		<p class="lead">Hi, I'm <span itemprop="name">Ahmad Alhour</span>.</p>
		
		<p>I am a <span itemprop="title">full-stack software engineer</span>, living in <span itemprop="address" itemscope
	    itemtype="http://data-vocabulary.org/Address"> <span itemprop="region">Athens</span>, <span itemprop="country-name">Greece</span></span> and working for <a target="_blank" href="http://www.ccc.me"><abbr title="Consolidated Contractors Company, Offshore S.A.L">CCC</abbr></a> in the <abbr title="Research and Development">R&amp;D</abbr> Department.<p>
	    <p>In my free time I like to enjoy music (read: partying), get to do some <a target="_blank" href="https://projecteuler.net/"><span itemprop="title">recreational programming/math</span></a>, and practice martial arts.</p>
	</div>
</div>