<div class="footer">
	<div class="row">
		<div class="col-sm-8">
			<p><small>&copy; aalhour 2015</small></p>
		</div>

		<div class="col-sm-4">
			<p class="pull-right"><small><a href="/about" title="About this site">About</a></small></p>
		</div>
	</div>
</div> <!-- /footer -->
