<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.blog }}"><a href="/blog" title="Blog">Blog</a></li>
		<li class="{{ page.projects }}"><a href="/projects" title="Projects">Projects</a></li>
		<li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Ahmad Alhour</a></h3>
</div> <!-- /header -->