---
layout: default
title: CV
cv: active
blog: passive
home: passive
contact: passive
projects: passive
description: Current CV for Ahmad Alhour, a Software Engineer living and working in Athens, Greece.
---

<div class="cv">
	<a href="/files/AhmadAlhourResume.pdf" class="btn btn-default pull-right" title="Download CV as PDF">Download CV</a>
	<div itemscope itemtype="http://data-vocabulary.org/Person">
		<h1><span itemprop="name">Ahmad Alhour</span></h1>
		<address>
			<span itemprop="affiliation"><strong>Consolidated Contractors Company, Offshore S.A.L</strong><br></span>
			62B Kifissias Avenue,<br/>
			Marousi 15125,<br/>
			Athens, Greece.<br/>
			<abbr title="Phone">P:</abbr> (+30) 693 423 9173<br>
			<span class="obfuscate">rg.ccc@ruohlaa</span>
		</address>
	</div>
			
	<p>Software Engineer living and working in Athens, Greece. Engaged in Full-Stack Web &amp; Desktop apps development, alongside research-and-development of the corporate's infrastructure applications. One of my main responsibilities is to develop enterprise software which replace the current commercial ones, as part of cutting the costs on <abbr title="Information Systems Department">ISD</abbr>'s budget, and increasing the flexibility of rolling-out new features as the corporate sees fit. I'm also engaged in implementing the corporate's <em>Go Green</em> movement by developing workflows and software - web, mobile and desktop - for accessing, organizing, and publishing data without relying on hard-copies (i.e. paper).</p>
	
	<br/>
	<!-- Education -->

	<h2>Education</h2>
	
	<p>
		<strong>BS.c in Computer Science, <abbr title="Princess Sumaya University for Technology">PSUT</abbr>,&nbsp;Amman, Jordan, 2007-2011.</strong>
		<br/>
		<a target="_blank" href="http://www.psut.edu.jo/">University Website</a>
	</p>
	
	<br/>
	<!-- WORK HISTORY -->

	<h2>Professional Employment</h2>

	<!-- Employer -->
	<p>
		<strong>R&amp;D Software Engineer, <a target="_blank" href="http://www.ccc.me"><abbr title="Consolidated Contractors Company, offshore S.A.L">CCC</abbr></a>,&nbsp; Athens, Greece. 2012 - Present.</strong>
	</p>

	<ul>
		<li>Developed a web-app for billing, managing and reporting the usage and expenses of the corporate's telephony services. <a target="_blank" href="https://github.com/LyncApps">Open-sourced@Github</a>.</li>
		<li>Developed an MVC web-app that replaced offline drafting and publication of paper-based contacts books. CCC GDS.</a></li>
		<li>Designed and developed RESTful APIs for internal web-apps to allow their consumption via Mobile Clients.</li>
		<li>Developed a small iOS App for consuming an internal web-app using the Appcelerator Titanium platform.</li>
		<li>
			<span>Developed simple bash scripts to do various tasks, such as:</span>
			<ul>
				<li>Keep track of disk-utilization on few internal storage servers.</li>
				<li>Monitor and report the status of internal production applications.</li>
			</ul>
		</li>
	</ul>
	
	<!-- Employer -->
	<p><strong>Software Engineer, <a target="_blank" href="http://www.d1g.com">D1G</a>, Amman, Jordan, 2011 - 2012.</strong></p>
	<ul>
		<li>Developed an MVC application for publishing and managing Ads on D1G.com in real-time.</li> 
		<li>Developed UI widgets on D1G.com for advertising clients such as: OSN TV and Orbit TV.</li>
		<li>Developed public RESTful APIs using RubyOnRails to support consuming D1G.com via Mobile Clients.</li>
		<li>Redesigning database schema to cope with new requirements and changes.</li>
	</ul>
			
	<!-- Employer -->
	<p><strong>Web Developer, <a target="_blank" href="http://www.communitiestech.com/">CommunitiesTech</a>, Amman, Jordan, 2008 - 2011.</strong></p>
	<ul>
		<li>Worked on a part-time contract.</li>
		<li>Web development of the Bangaia.com platform.</li>
		<li>Created a PHP library for developing RESTful Web-Services through the PRADO Framework.</li>
		<li>Integrated the Rackspace Cloud Services with the Bangaia Project (Assets Management).</li>
	</ul>
	
	<br />
	<!-- SKILLS -->	
	
	<h2>Skills and Expertise</h2>
	<dl class="dl-horizontal">
		<dt>Human Languages</dt>
		<dd>Arabic (Mother Tongue), English (Fluent), Greek (Basic)</dd>
	</dl>
	
	<dl class="dl-horizontal">
		<dt>Computer Languages:<br />Proficient</dt>
		<dd>C#, JavaScript, Ruby (Past Work), PHP (Past Work)</dd>
	</dl>

	<dl class="dl-horizontal">
		<dt>Computer Languages:<br />Basic Familiarity</dt>
		<dd>Bash, Python, Java, C/C++, Scheme</dd>
	</dl>

	<dl class="dl-horizontal">
		<dt>Other/Markup</dt>
		<dd>SQL, (X)HTML, CSS, XML</dd>
	</dl>
	
	<dl class="dl-horizontal">
		<dt>Frameworks</dt>
		<dd>ASP.NET, MVC.NET, Ruby on Rails (Past Work), Ext.NET, Twitter Bootstrap</dd>
	</dl>

	<dl class="dl-horizontal">
		<dt>Source Control</dt>
		<dd>Git, SVN, FishEye, Jira, Github</dd>
	</dl>
	
	<dl class="dl-horizontal">
		<dt>OS/Environments</dt>
		<dd>Mac OSX, CentOS Linux, Windows, MS SQL Server, MySQL (Past Work)</dd>
	</dl>

	<dl class="dl-horizontal">
		<dt>Publishing</dt>
		<dd>WordPress, Drupal</dd>
	</dl>

	<br />
	<!-- OPEN SOURCE -->

	<h2>Open Sourced Projects</h2>
	
	<p><strong>iBill, <a target="_blank" href="https://github.com/LyncApps">@Github</a></strong></p>
	<ul>
		<li>
			<p>A billing application written in C# and ASP.NET. It manages distributed instances of the Microsoft Lync telephony services.</p>
			<p>This software is capable of billing and invoicing any multi-sites setup of Microsoft Lync, billing multiple telephony gateways across the whole system. Provides a hierarchy of system roles: Users, User Delegates, Site Accountants, Site Admins, and System Admins. Provides consumption statistics for users, sites and overall usage across all the setup. Provides utilities for accountants to export costs reports, and perform financial charging procedures.</p>
		</li>
	</ul>

	<p><strong>C# Algorithms, <a target="_blank" href="https://github.com/aalhour/C-Sharp-Algorithms">@Github</a></strong></p>
	<ul>
		<li>
			<p>A library that implements the standard Data Structures and Algorithms covered in a First Course on Algorithms and Data Structures in C#.</p>
			<p>This software started as an interview-preparation project, and grew bigger as I prepared more. Now, I use this project in all of my algorithmic side projects, and in my prodcution software as well.</p>
		</li>
	</ul>
</div>
