---
layout: default
title: About This Site
cv: passive
blog: passive
home: passive
contact: passive
projects: passive
description: Credits and information about the website aalhour.github.io, the personal website for Ahmad Alhour, a Software Engineer living and working in Athens, Greece.
---

  <div class="about">
    
    <p>aalhour.github.io is:</p>
	
	<ul class="list-unstyled">
		<li>Forked from jmcglone.github.io</li>
		<li>Licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>. </li>
		<li>Marked up with <a href="http://validator.w3.org/check?uri=http%3A%2F%2Faalhour.github.io%2F" title="HTML5 Validator">W3C validated HTML5</a></li>
		<li><a href="http://www.w3.org/TR/WCAG20/" title="WCAG 2.0">WCAG 2.0</a> compliant</li>
		<li>Powered by <a href="http://jekyllrb.com/" title="Jekyll">Jekyll</a></li>
		<li>Hosted on <a href="http://github.com/aalhour/aalhour.github.io" title="This site hosted on GitHub">GitHub</a> thanks to <a href="http://pages.github.com/" title="GitHub Pages">GitHub Pages</a></li>
	</ul>
  </div>
