<!DOCTYPE html>
<html lang="en">
	
	{% include head.html %}
	
	<body>
		<div class="container">
			
			{% include header.html %}
			
			{{ content }}
			
			{% include footer.html %}
		
		</div> <!-- /container -->
	
	
		{% include scripts.html %}

		{% include google_analytics.html %}
	
	</body>

</html>
